<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>

<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <h3 class="navbar-brand">Ingenieria en Sistemas</h3>
  </div>
</nav>
<h2 align="center">TECNOLOGÍA WEB</h2>
<p>
  Existen numerosas tecnologías web, algo que si bien es una ventaja en el
  diseño y desarrollo de sitio web, puede llegar a complicar la elección o la
  toma de decisión de cuál utilizar y para qué. Por eso es imprescindible
  explicar en detalle el proyecto que se quiere desarrollar, las funciones que
  necesitará el desarrollo web, y en base a eso, dejarse a asesorar por los
  desarrolladores a la hora de determinar qué tecnologías web se usarán.
</p>
<h2 align="center">Frameworks Actuales</h2>
<p>
  En pocas palabras, un Framework es una estructura previa que se puede
  aprovechar para desarrollar un proyecto. El Framework es una especie de
  plantilla, un esquema conceptual, que simplifica la elaboración de una tarea,
  ya que solo es necesario complementarlo de acuerdo a lo que se quiere realizar
</p>
<h3 align="center">Top Frameworks</h3>
<div style="padding:50px">
  <h3>React</h3>
  <table>
    <tr>
      <img
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K"
        style="heigth:200px; width: 200px"
      />
      <td>
        <p>
          En los últimos años, los frameworks web del lado del cliente basados
          ​​en JavaScript están dominando el desarrollo web. Si bien React no es
          el primero, es el más popular y disruptivo entre ellos. Facebook ha
          desarrollado React como una simple biblioteca de JavaScript para
          implementar la capa de vista de la Web de una manera basada en
          componentes y se lanzó en 2013. También difería del framework de
          JavaScript existente ya que defendía el enlace de datos
          unidireccional. En poco tiempo, React se volvió abrumadoramente
          popular entre empresas y desarrolladores. Hoy en día, es el framework
          web líder en el lado del cliente.
        </p>
      </td>
    </tr>
  </table>
  <a align="center" href="https://reactjs.org">Pagina Oficial</a>

  <h3>Vue</h3>
  <table>
    <tr>
      <img
        src="https://vuejs.org/images/logo.svg"
        style="heigth:200px; width: 200px"
      />
      <td>
        <p>
          Evan You, un ex ingeniero de Google, desarrolló Vue.js como un marco
          web basado en JavaScript MVVM (Model-View-View-Model) del lado del
          cliente en 2014. Combinó con éxito las partes buenas de AngularJS
          (View Layer) y el buenas partes de React (Virtual DOM). Con el tiempo,
          Vue.js se convirtió en uno de los marcos web más populares impulsados
          ​​por la comunidad. En muchos sentidos, tomó el camino intermedio
          entre React y Angular y ofreció una alternativa agradable tanto a
          Angular como a React.
        </p>
      </td>
    </tr>
  </table>
  <a align="center" href="https://vuejs.org">Pagina Oficial</a>

  <h3>Angular</h3>
  <table>
    <tr>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
        style="heigth:200px; width: 200px"
      />
      <td>
        <p>
          Después del fracaso de AngularJS (Angular 1+), Google lanzó Angular
          como un marco web MVW (Model-View-Whatever) de extremo a extremo, del
          lado del cliente, en 2016. Angular es un marco web más tradicional que
          ofrece dos vías Enlace de datos, Convención sobre configuración,
          Cheques sucios. También usó TypeScript como lenguaje de programación
          nativo y jugó un papel clave en la popularización de TypeScript.
          Angular es notablemente estable y no ha introducido cambios críticos
          en los últimos 5 años.
        </p>
      </td>
    </tr>
  </table>
  <a align="center" href="https://angularjs.org">Pagina Oficial</a>

  <h3>Spring</h3>
  <table>
    <tr>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/4/44/Spring_Framework_Logo_2018.svg"
        style="heigth:200px; width: 200px"
      />
      <td>
        <p>
          Rod Johnson creó el marco Spring como una inversión de control, marco
          web del lado del servidor en 2002. Desde entonces, Spring ha crecido
          con el tiempo y ahora es el marco web principal en el desarrollo de
          aplicaciones basadas en Java. La mejor parte de Spring es evolucionar
          con el panorama cambiante y desempeñar un papel muy importante en
          hacer que Java sea relevante en la era de la computación en la nube.
        </p>
      </td>
    </tr>
  </table>
  <a align="center" href="https://spring.io">Pagina Oficial</a>

  <h3>Django</h3>
  <table>
    <tr>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/7/75/Django_logo.svg"
        style="heigth:200px; width: 200px"
      />
      <td>
        <p>
          En 2005, dos jóvenes ingenieros Adrian Holovaty y Simon Willison
          crearon un marco web del lado del servidor basado en Python que sigue
          el patrón arquitectónico de MTV. En la última década, la popularidad
          de Python aumentó a pasos agigantados, lo que afectó directamente la
          alta adopción de Django. Además de eso, Django ofrece muchas
          características agradables y actualmente es uno de los principales
          frameworks web del lado del servidor.
        </p>
      </td>
    </tr>
  </table>
  <a align="center" href="https://www.djangoproject.com">Pagina Oficial</a>

  <h3>Ruby on Rails</h3>
  <table>
    <tr>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/62/Ruby_On_Rails_Logo.svg"
        style="heigth:200px; width: 200px"
      />
      <td>
        <p>
          David Heinemeier Hansson creó Ruby on Rails como un framework de
          desarrollo web del lado del servidor que admitía el patrón MVC y el
          lenguaje de programación Ruby. Introdujo muchas ideas y conceptos
          novedosos: Convención sobre configuración (CoC), No se repita (DRY),
          Patrón de registro activo. También introdujo el desarrollo rápido de
          aplicaciones a través de la creación y migración de bases de datos, el
          andamiaje de vistas.
        </p>
      </td>
    </tr>
  </table>
  <a align="center" href="https://rubyonrails.org">Pagina Oficial</a>

  <h3>ASP.NET Core</h3>
  <table>
    <tr>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/e/ee/.NET_Core_Logo.svg"
        style="heigth:200px; width: 200px"
      />
      <td>
        <p>
          En 2016, Microsoft lanzó el sucesor de ASP.NET como ASP.NET Core, que
          es de código abierto y una reelaboración completa de su predecesor. Es
          un framework web modular que puede ejecutarse en múltiples plataformas
          y funciona a la perfección con los frameworks de desarrollo modernos
          del lado del cliente de JavaScript.
        </p>
      </td>
    </tr>
  </table>
  <a
    align="center"
    href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-5.0"
    >Pagina Oficial</a
  >

  <h3>Flask</h3>
  <table>
    <tr>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Flask_logo.svg"
        style="heigth:200px; width: 200px"
      />
      <td>
        <p>
          Armin Ronacher creó Flask como un marco Micro Web minimalista basado
          en Python en 2010. Flask se llama Micro-framework ya que no está
          controlado y no necesita ninguna herramienta o biblioteca en
          particular. Es comparable a Express.js y no ofrece soporte listo para
          usar para ORM, validación de formularios o valores. Sin embargo, Flask
          es altamente modular y admite extensiones conectables. Flask también
          goza de gran popularidad con la creciente popularidad de Python.
        </p>
      </td>
    </tr>
  </table>
  <a align="center" href="https://flask.palletsprojects.com/en/2.0.x/"
    >Pagina Oficial</a
  >

  <h3>Express.js</h3>
  <table>
    <tr>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png"
        style="heigth:200px; width: 200px"
      />
      <td>
        <p>
          TJ Holowaychuk creó Express.js como un marco web MVC
          (Model-View-Controller) del lado del servidor basado en el tiempo de
          ejecución de JavaScript Node.js. Lanzó la primera versión estable en
          2010. Express.js estaba fuertemente influenciado por el minimalista
          Web Framework Sinatra y ofrecía una funcionalidad minimalista similar.
          Los desarrolladores usan Express.js para desarrollar backend basado en
          REST, o aplicaciones web completas renderizadas del lado del servidor
          junto con la capa de vista conectable.
        </p>
      </td>
    </tr>
  </table>
  <a align="center" href="https://expressjs.com">Pagina Oficial</a>

  <h3>Laravel</h3>
  <table>
    <tr>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Laravel.svg"
        style="heigth:200px; width: 200px"
      />
      <td>
        <p>
          PHP es un lenguaje de programación especialmente diseñado para el
          desarrollo web. Taylor Otwell creó Laravel en 2011 como un framework
          web del lado del servidor basado en PHP que sigue el patrón
          arquitectónico MVC. También sigue la filosofía “Ruby on Rails” y
          proporciona CoC y muchas funcionalidades listas para usar esenciales
          para el desarrollo web empresarial.
        </p>
      </td>
    </tr>
  </table>
  <a align="center" href="https://laravel.com">Pagina Oficial</a>
</div>
